.gui_timeline {
	position : absolute;
	width : 100%;
	height : 100%;
}
.gui_timeline_menu {
	width : 185px;
	height : 200px;
	display: inline-block;
}
.gui_timeline_canvas {
	position: absolute;
	left : 185px;
	top : 0px;
	width : 100%;
	height : 100%;
}
.gui_timeline_button {
	width : 26px;
	height : 26px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 8px;
	color : white;
	background-repeat:no-repeat;
	background-size: contain;
	background-color: #EEE;
	border-radius: 2px;
}
.gui_timeline_button:hover {
	cursor: pointer;
	opacity: 0.7;
}
.gui_timeline_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}
.gui_timeline_button.pushed {
	background-color: rgb(66, 161, 255);
}

.gui_timeline_play_menu {
	width: 100%;
	height : 35px;
	padding-left: 3px;
}

.gui_timeline_key_menu {
	width: 100%;
	height : 35px;
	margin-top: 10px;
	padding-left: 3px;
}
.gui_timeline_frame_input {
	margin-left: 8px;
	width : 60px;
	text-align: center;
	border-radius: 4px;
	height : 22px;
	box-sizing: border-box;
}
.gui_timeline_change_frame {
	width : 22px;
	height : 22px;
	margin-left: 2px;
}
.gui_timeline_select_keyframe {
	position : absolute;
	left : 105px;
}
.gui_timeline_delete_keyframe {
	position : absolute;
	left : 139px;
}
.gui_timeline_frame_label {
	margin-left: 3px;
	color : white;
	font-size: 12px;
}