.gui_modelinfo {
	color : white;
	width : 100%;
	height : 100%;
	overflow: auto;
}

.gui_modelinfo_modelmenu {
	margin-top : 4px;
	margin-bottom : 2px;
	width : 100%;
}

.gui_modelinfo_select {
	margin-top : 4px;
	margin-bottom : 2px;
	width : calc(100% - 36px);
	height : 28px;
}

.gui_modelinfo_key {
	display : inline-block;
	min-width : 100px;
	font-size : 11px;
	padding-left: 2px;
	color : #CCC;
}

.gui_modelinfo_value {
	display : block;
	min-width : 100px;
	min-height : 23px;
	font-size : 14px;
	border : 1px solid gray;
	padding-left: 4px;
	word-break: break-all;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.gui_modelinfo_label {
	font-size : 12px;
}

.gui_modelinfo_label {
	margin-top : 5px;
	margin-bottom : 3px;
	font-size : 14px;
	border-radius: 4px;
	background-color: rgb(188, 222, 255);
	color : black;
	padding-left : 4px;
	padding-right : 4px;
}

.gui_modelinfo_image {
	width : 100%;
	text-align: center;
	padding-top : 2px;
}

.gui_modelinfo_button {
	width : 28px;
	height : 28px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	color : white;
	background-repeat:no-repeat;
	background-size: contain;
	background-color: #EEE;
	border-radius: 2px;
}
.gui_modelinfo_button:hover {
	cursor: pointer;
	background-color: white;
	opacity: 0.7;
}
.gui_modelinfo_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}
.gui_modelinfo_button.nopush {
	background-color: #CCC;
}
.gui_modelinfo_button.pushed {
	background-color: rgb(91, 202, 230);
}