.gui_rig_body_area {
	width : 176px;
	height : 300px;
}

.gui_rig_panel {
	position: absolute;
	border : 2px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: white;
}
.gui_rig_panel.selected {
	background-color: rgb(0, 200, 200);
}

.gui_rig_panel_head {
	position: absolute;
	left : 70px;
	top : 20px;
	width : 40px;
	height : 40px;
}

.gui_rig_panel_neck {
	left : 75px;
	top : 60px;
	width : 30px;
	height : 30px;
}

.gui_rig_panel_left_shoulder {
	left : 105px;
	top : 60px;
	width : 30px;
	height : 25px;
}

.gui_rig_panel_right_shoulder {
	left : 45px;
	top : 60px;
	width : 30px;
	height : 25px;
}

.gui_rig_panel_left_upper_arm {
	left : 120px;
	top : 85px;
	width : 30px;
	height : 35px;
}

.gui_rig_panel_right_upper_arm {
	left : 30px;
	top : 85px;
	width : 30px;
	height : 35px;
}

.gui_rig_panel_left_lower_arm {
	left : 120px;
	top : 120px;
	width : 30px;
	height : 35px;
}

.gui_rig_panel_right_lower_arm {
	left : 30px;
	top : 120px;
	width : 30px;
	height : 35px;
}

.gui_rig_panel_left_hand {
	left : 120px;
	top : 155px;
	width : 30px;
	height : 25px;
}

.gui_rig_panel_right_hand {
	left : 30px;
	top : 155px;
	width : 30px;
	height : 25px;
}


.gui_rig_panel_upper_chest {
	left : 70px;
	top : 90px;
	width : 40px;
	height : 30px;
}
.gui_rig_panel_chest {
	left : 70px;
	top : 120px;
	width : 40px;
	height : 35px;
	background-color: white;
}
.gui_rig_panel_spine {
	left : 70px;
	top : 155px;
	width : 40px;
	height : 30px;
}

.gui_rig_panel_left_upper_leg {
	left : 100px;
	top : 185px;
	width : 30px;
	height : 40px;
}
.gui_rig_panel_right_upper_leg {
	left : 50px;
	top : 185px;
	width : 30px;
	height : 40px;
}
.gui_rig_panel_left_lower_leg {
	left : 100px;
	top : 225px;
	width : 30px;
	height : 40px;
}
.gui_rig_panel_right_lower_leg {
	left : 50px;
	top : 225px;
	width : 30px;
	height : 40px;
}
.gui_rig_panel_left_foot {
	left : 100px;
	top : 265px;
	width : 30px;
	height : 25px;
}
.gui_rig_panel_right_foot {
	left : 50px;
	top : 265px;
	width : 30px;
	height : 25px;
}
