.gui_stream {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.gui_stream_button {
	width: 80px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #ABC;
	border-radius: 2px;
	font-size: 12px;
	padding-top: 5px;
	padding-left: 50px;
	margin: 10px;
}

.gui_stream_button:hover {
	cursor: pointer;
	background-color: lightblue;
	opacity: 1;
}

.gui_stream_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}

.gui_stream_button.nopush {
	background-color: #CCC;
}

.gui_stream_button.pushed {
	background-color: rgb(91, 202, 230);
}