.gui_dialog {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	background-color : rgba(128.0, 128.0, 128.0, 0.3);
}

.gui_dialog_button_wrap {
	top: 50%;
	left: 50%;
	width: 640px;
	height: 640px;
	margin-top:-320px;
	margin-left:-320px;
	position: fixed;
	background: rgb(80, 80, 80);
	border:solid;
	border-width:2px;
	border-color:rgb(50, 50, 50);
	z-index:4;
	overflow: auto;
}

.gui_dialog_button_sharemessage {
	color : white;
}

.gui_dialog_button {
	opacity : 1;
	width : 80px;
	height : 40px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	color : black;
	background-repeat:no-repeat;
	background-size: contain;
	background-color: #CCC;
	border-radius: 2px;
	font-size : 14px;
    padding-top: 10px;
	padding-left: 50px;
	margin : 10px;
}
.gui_dialog_button:hover {
	cursor: pointer;
	background-color: lightblue;
	opacity: 1;
}
.gui_dialog_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}
.gui_dialog_button.nopush {
	background-color: #CCC;
}
.gui_dialog_button.pushed {
	background-color: rgb(91, 202, 230);
}

.gui_dialog_button_ok {
	
}