
.gui_tool_menu_button {
	width : 28px;
	height : 28px;
	border-width : 2px;
	border-radius : 2px;
	background-repeat : no-repeat;
	background-size : contain;
	margin-left : 8px;
	margin-right : 8px;
	margin-top : 8px;
	box-sizing: border-box;
	background-color: #EEE;
	float : right;
}

.gui_tool_menu_button:hover {
	cursor: pointer;
	background-color: white;
	opacity: 0.7;
}
.gui_tool_menu_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}
.gui_tool_menu_button.nopush {
	background-color: #CCC;
}
.gui_tool_menu_button.pushed {
	background-color: rgb(91, 202, 230);
}

.gui_tool_menu_back {
	width : 44px;
	height : 80px;
	background-color: rgb(34, 34, 34);
	float: left;
	margin: 5px;
	border-radius: 4px;
}