.gui_menu_root {
	height : 40px;
}

.gui_menu_button_area {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width : calc(100% - 100px)
}

.gui_menu_title {
	display: inline-block;
	width : 70px;
	height : 32px;
	padding-right: 15px;
}

.gui_menu_button {
	width : 28px;
	height : 28px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	color : white;
	background-repeat:no-repeat;
	background-size: contain;
	background-color: #EEE;
	border-radius: 2px;
}
.gui_menu_button:hover {
	cursor: pointer;
	background-color: white;
	opacity: 0.7;
}
.gui_menu_button.disabled {
	cursor: pointer;
	opacity: 0.3;
}
.gui_menu_button.nopush {
	background-color: #CCC;
}
.gui_menu_button.pushed {
	background-color: rgb(91, 202, 230);
}

.gui_menu_button_first_toggle {
	margin-left : 30px;
}

.gui_menu_button_share {
	float : right;
	margin-right: 6px;
}
.gui_menu_button_download {
	float : right;
}

.gui_menu_console {
	width : 200px;
	background : black;
	font-size : 8px;
}