*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html, body {
	height: 100%;
}

body {
	position: fixed;
	width: 100%;
	font-family: sans-serif ;
}

/* スライダー */
input[type=range] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	appearance: none;
	background-color: rgba(255, 255, 255, .5);
	height: 2px;
	border-radius: 6px;
}
input[type=range]:focus,
input[type=range]:active {
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	position: relative;
	width: 20px;
	height: 20px;
	display: block;
	border: 1px solid #717171;
	background-color: lightgray;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
input[type=range]::-webkit-slider-thumb:hover {
	background-color: white;
}

/* スクロールバー */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .6);
	box-shadow: inset 0 0 0 1px rgba(143, 143, 143, 0.2);
	border-radius: 8px;
}

a:link { color: white; }
a:visited { color: white; }
a:hover { color: white; }
a:active { color: white; }

.lm_header .lm_tab {
	padding-right: 10px;
}
